@import "tailwindcss";


.aboutContainer{
    @apply min-h-[80vh] min-w-screen flex justify-center items-center flex-col-reverse px-6 gap-6 lg:gap-0 md:px-14 lg:flex-row-reverse font-sans;
}

.shoeContainer{
    @apply w-full h-1/3 flex justify-around items-center lg:w-[55%] lg:h-full;
}

.slideShowContainer{
    @apply hidden lg:flex flex-col gap-4 w-[20%];
}

.displayContainer{
    @apply h-full flex justify-center items-center border-none lg:border-2 lg:h-[50vh] w-[50%] rounded-md lg:border-[#c72092] lg:shadow-[#c72092] lg:shadow-lg;
}

.displayImage{
    @apply w-[300px];
}

.image{
    background: linear-gradient(to right, #c72092, #6c14d0);
    @apply w-[10em] border-white border-2 rounded-md shadow-[#6c14d0] shadow-lg;
}

.aboutTextContainer{
    @apply w-full h-1/2 flex justify-center items-center lg:w-[35%] lg:h-full text-wrap flex-col lg:items-start gap-3;
}
.text{
    @apply text-xs md:text-base leading-7 md:leading-9 font-extralight;
}

.aboutButton{
    background: linear-gradient(to right, #c72092, #6c14d0);
    @apply text-white flex justify-center items-center lg:w-[120px] lg:h-[40px] w-[100px] h-[30px] rounded-md text-base font-medium shadow-[#c72092] shadow-lg border-2 border-white
}